.img-thumbnail-icon {
    padding: .25rem;
    background-color: #000000;
    border: 1px solid #ddc171;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    background-image: url('../img/iconbg.png');
	background-size: 100%;
}